<p id="notice"><%= notice %></p>

<h2 class="ui center aligned icon header" style="color:black !important">
  <i class="circular users icon"></i>
  People you might know
</h2>

<br>

<% @users.each do | prkl | %>
<div style="float:left; margin:20px;">
<div class="ui link cards">
<div class="card">
  <div class="image">
    <img src="https://get.pxhere.com/photo/work-man-person-suit-black-and-white-people-white-male-guy-standing-portrait-young-corporate-tie-office-fashion-professional-business-clothing-black-monochrome-wedding-dress-bride-groom-modern-smile-shirt-tuxedo-face-men-one-happy-elegant-boss-handsome-gown-adult-businessman-executive-success-confident-successful-manager-dapper-formal-wear-monochrome-photography-bridal-clothing-868417.jpg" alt="Profile Picture">
  </div>
  <div class="content">
    <div class="header"> <%= prkl.name %> </div>
  </div>
</div>
</div>
</div>
<% end %>

