<h2 class="ui dividing header" style="color:white; display:flex; justify-content:center; align-items:center;">Share your moment!</h2>

<%= render 'form', post: @post %>

<%= link_to 'Back', posts_path %>
