<div class="user_profile">

  <img src="https://www.corneliustoday.com/wp-content/uploads/2019/08/camera-black-and-white-tumblr.jpg" alt="profile pic" 
  style="height: 20em; width: 20em; border-radius: 500rem;">

</div>
<div class="user_details">
<p>Ime in Priimek</p>
</div>
<div class="user_details2">
<p>username</p>
</div>


<div class="user_info">
  <div class="uinfo">
    <p>1000<br>Posts</p>
  </div>
  <div class="uinfo">
    <p>1000<br>Followers</p>
  </div>
  <div class="uinfo">
    <p>1000<br>Following</p>
  </div>
</div>

<div style="clear:both;"></div>


<% @posts.each do |post| %>

<div style="float:left; width:32.2%; margin:10px; background-color: white;" class="ui card">
  <div class="image">
    <img
      onclick="window.location='/posts/<%= post.id %>'"
      src="<%= post.attachment %>" 
      style="height: 350px !important;"
    />
  </div>
    <span class="right floated">
  </div>
</div>
<% end %>





